<!DOCTYPE html>
<html>
<head>
	<title>Welcome to MusicalsFavors</title>
</head>
<body>
<!-- jOur Site Header Goes Here -->
<h1>Welcome to Musical Treats with Dina Ding</h1>


<!-- hgthghg -->
<button>like</button>
<h2>Are you a musical fans. Then welecome.</h2>
<form>
	{% csrf_token %}
	<input type="text" placeholder="PLease type your username" name="">
	<textarea placeholder="Type your comment"></textarea>
	<input type="submit" value="Post Me!"><br>

<img src="https://tse2-mm.cn.bing.net/th?id=OIP.SDM7ikRrtlnM8KOwzXAG2gHaDx&p=0&o=5&pid=1.1"><br>
<img src="http://images2.fanpop.com/images/photos/3000000/Musicals-musicals-3099612-498-500.jpg">
<h2>Comments</h2>
 User {{username}} says: {{comment}}
</body>
</html>